<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap demo</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
	<a class="btn btn-primary" href="dashboard" role="button">DashBoard</a>
  <a class="btn btn-primary" href="viewEnq" role="button">ViewEnquiry</a>
  <a class="btn btn-primary" href="logout" role="button">Logout</a>
  <hr />
		<h1>Add Enquiry</h1>
		<font style="color: red;">
			<p th:text="${emsg}"></p>
		</font> <font style="color: green;">
			<p th:text="${smsg}"></p>
		</font>
		<form th:action="@{/addenq}" th:object="${enquiry}" method="post" onsubmit="clearForm()">
			<table>
				<tr>
					<td>Student Name :</td>
					<td><input type="text" th:field="*{studentName}" class="form-control" required>
					<input type="hidden" th:field="*{enqId}" />
					</td>
				</tr>
				<tr>
					<td>Student Phone No :</td>
					<td><input type="number" th:field="*{studentPhno}" class="form-control" required></td>
				</tr>
				<tr>
					<td>Course Name :</td>
					<td><select th:field="*{courseName}" >
							<option value="" disabled selected></option>
							<option value="select">select</option>
							<option value="Java">Java</option>
							<option value="Phython">Phython</option>
							<option value="AWS">AWS</option>
							<option value="DotNet">DotNet</option>
					</select></td>
				</tr>
				<tr>
					<td>Class Mode :</td>
					<td><select th:field="*{classMode}">
						<option value="" disabled selected></option>
						<option value="select">select</option>
						<option value="Online">Online</option>
						<option value="ClassRoom">ClassRoom</option>
					</select>
					</td>
				</tr>
				<tr>
					<td>Enquiry Status :</td>
					<td><select th:field="*{enqStatus}">
							<option value="" disabled selected>Open this select menu</option>
							<option value="select">select</option>
							<option value="Open">Open</option>
							<option value="Enrolled">Enrolled</option>
							<option value="Lost">Lost</option>
					</select></td>
				<tr>
					<td><input type="submit" value="Register"
						class="btn btn-primary" ></td>
				</tr>
			</table>
		</form>




	</div>
	<script>
    function clearForm() {
        document.getElementById("enqForm").reset(); // Clears all form fields
    }
</script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>
</html>